.App {
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  align-content: center;
  background-image: url("./img/background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gameField{
  height: 500px;
  width: 500px;
  border: 5px solid #EABA40;
  align-content: center;
  position: relative;
}

.characters{
  height: 50px;
  width: 210px;
  margin: 15px;
  padding:0px 10px;
  border:2px solid #EABA40;
  border-radius: 5px;
  background-color: #000E34;
  color: #EABA40;
  font:20px Arial, sans-serif;
}

